# Machine Learning Model to predict Rainfall with various input perameters using K-nearest Neighbors Algorithm

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("weatherAUS.csv")
df.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [3]:
RainToday = {'Yes': 1,'No': 2}
df=df.dropna()
df.RainToday = [RainToday[item] for item in df.RainToday]

In [5]:
x=df[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine',  'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RISK_MM']].values
x[:5]

array([[1.7900e+01, 3.5200e+01, 0.0000e+00, 1.2000e+01, 1.2300e+01,
        4.8000e+01, 6.0000e+00, 2.0000e+01, 2.0000e+01, 1.3000e+01,
        1.0063e+03, 1.0044e+03, 2.0000e+00, 5.0000e+00, 2.6600e+01,
        3.3400e+01, 0.0000e+00],
       [1.8400e+01, 2.8900e+01, 0.0000e+00, 1.4800e+01, 1.3000e+01,
        3.7000e+01, 1.9000e+01, 1.9000e+01, 3.0000e+01, 8.0000e+00,
        1.0129e+03, 1.0121e+03, 1.0000e+00, 1.0000e+00, 2.0300e+01,
        2.7000e+01, 0.0000e+00],
       [1.9400e+01, 3.7600e+01, 0.0000e+00, 1.0800e+01, 1.0600e+01,
        4.6000e+01, 3.0000e+01, 1.5000e+01, 4.2000e+01, 2.2000e+01,
        1.0123e+03, 1.0092e+03, 1.0000e+00, 6.0000e+00, 2.8700e+01,
        3.4900e+01, 0.0000e+00],
       [2.1900e+01, 3.8400e+01, 0.0000e+00, 1.1400e+01, 1.2200e+01,
        3.1000e+01, 6.0000e+00, 6.0000e+00, 3.7000e+01, 2.2000e+01,
        1.0127e+03, 1.0091e+03, 1.0000e+00, 5.0000e+00, 2.9100e+01,
        3.5600e+01, 0.0000e+00],
       [2.4200e+01, 4.1000e+01, 0.0000e+00, 1.1200e+01, 8.4000e+00,
        3.5000e+01, 1.7000e+01, 1.3000e+01, 1.9000e+01, 1.5000e+01,
        1.0107e+03, 1.0074e+03, 1.0000e+00, 6.0000e+00, 3.3600e+01,
        3.7600e+01, 0.0000e+00]])

In [6]:
y=df['RainToday'].values
y[:5]

array([2, 2, 2, 2, 2], dtype=int64)

In [ ]:
from sklearn import preprocessing

x=preprocessing.StandardScaler().fit(x).transform(x.astype(float))

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

k=4


neigh=KNeighborsClassifier(n_neighbors=k).fit(x_train,y_train)


yhat=neigh.predict(x_test)

In [ ]:
from sklearn import metrics
print("Train_set Accuracy : ",metrics.accuracy_score(y_train,neigh.predict(x_train)))

print("Test_set Accuracy : ",metrics.accuracy_score(y_test,yhat))